{% extends 'base.html.twig' %}


{% block body %}


    <h1>Login</h1>
{{ form_errors(form) }}
{{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
  <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Login</label>

                                <div class="col-sm-10">
                             {{ form_widget(form.email,{'label':'','id' : '','attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'Email*'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
 {{ form_end(form) }}
    <h1>Recuperer MDP</h1>
{{ form_start(formrec,{'attr': {'novalidate': 'novalidate'}} ) }}
                            <div class="form-group">
                                {{ form_errors(formrec.email) }}
                            {{ form_widget(formrec.email,{'attr': { 'placeholder' : 'Your Email', 'type':'email'}}) }}
                            </div>                        

                            
{{form(form,{'attr': {'novalidate': 'novalidate'}})}}

 {{ form_end(form) }}
{% endblock %}